.color-background {
  background-color: #262626;
}

.img-width {
  width: 150px;
  height: 150px;
}

.back-color-card {
  background-color: #FFFFFF;
}

.card-img {
  border-radius: 30px;
  width: 260px;
  height: 200px;
  margin-right: 100px;
}

.margin-r {
  margin-right: 100px;
}
