<div class="color-background">
  <!--HEADER-->
  <app-header-title>
    <div subTitle class="d-flex justify-content-center text-white mb-3">
      <h2>Venda Débito</h2>
    </div>

    <div fraseHeader class="d-flex justify-content-center text-white">
      <p class="p-custom">Insira o seu cartão de débito</p>
    </div>
  </app-header-title>

  <!--CARD CENTRO-->
  <div class="d-flex justify-content-center card-center">
    <img src="assets/images/insira-cartao.png" alt="Ilustração"  class="img-width pt-4 sm-hidden" />
    <p class="text-white">Cancelamento em 60 segudos</p>
  </div>

  <!--BUTTON FOOTER-->
  <app-button-footer>
    <button btnDireita type="button" class="btn btn-primary btn-lg color-btn">Confirmar</button>
  </app-button-footer>

  <!--FOOTER-->
  <app-footer></app-footer>
</div>
