a {
  text-decoration: none !important;
}

p {
  font-size: 30px;
}

.color-background {
  background-color: #262626;
}

.custom-btn {
  background-color: #01c5cf;
  border: #01c5cf;
  font-weight: bold;
  width: 200px;
}

.card-center {
  width: 50%;
  border-radius: 10px;
}

.img-width {
  width: 150px;
  height: 150px;
}

.p-custom {
  font-size: 35px;
  font-weight: bold;
}

