<div class="color-background">
  <app-header-title>
    <div textTitle class="text-white mb-5">
      <h1>Bem Vindo!!!</h1>
    </div>

    <div subTitle class="d-flex justify-content-center text-white margin-r">
      <h2>Insira o seu cartão ou selecione o produto</h2>
    </div>

    <div fraseHeader class="d-flex justify-content-center text-white">
      <p>Este terminal aceita somente débito</p>
    </div>
  </app-header-title>

  <app-card-banner>
    <div imgCard class="d-flex justify-content-center card-img back-color-card">
      <img src="assets/images/cartao-top.png" alt="Ilustração" class="img-width pt-4 sm-hidden" />
    </div>

    <div imgCard class="d-flex justify-content-center card-img back-color-card">
      <a routerLink="/selecionar-unidade">
        <img src="assets/images/qrCode.png" alt="Ilustração"  class="img-width pt-4 sm-hidden" />
      </a>
    </div>
  </app-card-banner>

  <div class="p-4 text-white">
    <p>Central de Atendimento ao Cliente(11) 3888-2200</p>
  </div>



  <app-footer></app-footer>
</div>
