<div class="color-background">
  <!--HEADER-->
  <app-header-title>
    <div subTitle class="d-flex justify-content-center text-white mb-3">
      <h2>Venda Débito</h2>
    </div>

    <div fraseHeader class="d-flex justify-content-center text-white">
      <p class="p-custom">Digite sua senha</p>
    </div>
  </app-header-title>

  <!--CARD CENTRO-->
  <a class="d-flex justify-content-center" (click)="goTo()">
    <div class="d-flex flex-column align-items-center">
      <div class="p-2 bd-highlight">
        <input type="text" placeholder="Senha" aria-label="Senha" class="form-control">
      </div>
      <div class="p-2 bd-highlight">
        <p class="text-white">Cancelamento em 60 segudos</p>
      </div>
    </div>
  </a>

  <!--FOOTER-->
  <app-footer></app-footer>
</div>
