<div class="color-background main-container">
  <!--HEADER-->
  <app-header-title>
    <div subTitle class="text-white mb-5">
      <h2>Selecione o que deseja comprar:</h2>
    </div>
  </app-header-title>

  <!--CARD CENTRO-->
  <!-- <div class="card-center">
    <div class="d-flex flex-column bd-highlight mb-2">
      <div class="p-2 bd-highlight">
        <a routerLink="/">
          <p class="p-custom">Integração Benéfica</p>
        </a>
      </div>
    </div>
  </div>

  <div class="card-center">
    <div class="d-flex flex-column bd-highlight mb-2">
      <div class="p-2 bd-highlight">
        <a routerLink="/quantidade-unidade-top-debito">
          <p class="p-custom">Unitário</p>
        </a>
      </div>
    </div>
  </div> -->

  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="card-center mb-3">
      <div class="d-flex flex-column align-items-center bd-highlight">
        <div class="p-2 bd-highlight">
          <a routerLink="/">
            <p class="p-custom">Integração Benéfica</p>
          </a>
        </div>
      </div>
    </div>

    <div class="card-center mb-3">
      <div class="d-flex flex-column align-items-center bd-highlight">
        <div class="p-2 bd-highlight">
          <a routerLink="/quantidade-unidade-top-debito">
            <p class="p-custom">Unitário</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--BUTTON FOOTER-->
  <app-button-footer>
    <button btnEsquerda type="button" (click)="backHome()" class="btn btn-primary btn-lg custom-btn">Cancelar</button>
  </app-button-footer>

  <!--FOOTER-->
  <app-footer></app-footer>
</div>
