<div class="color-background main-container">
  <!--HEADER-->
  <app-header-title>
    <div subTitle class="d-flex justify-content-center text-white mb-4">
      <h2>Venda em andamento</h2>
    </div>

    <div fraseHeader class="d-flex justify-content-center text-white">
      <p class="p-custom">Processando, aguarde....</p>
    </div>
  </app-header-title>

  <!--CARD CENTRO-->
  <a class="d-flex justify-content-center" routerLink="/transacao-aprovada-qr-code">
    <div class="d-flex flex-column align-items-center">
      <div class="p-2 bd-highlight">
        <img src="assets/images/loading.png" alt="Ilustração"  class="pt-4 sm-hidden loading" />
      </div>
      <div class="p-2 bd-highlight">
        <p class="text-white">Aguarde o processamento da informação</p>
      </div>
    </div>
  </a>

  <!--FOOTER-->
  <app-footer></app-footer>
</div>
