a {
  text-decoration: none !important;
  color: #262626;
}

.color-background {
  background-color: #262626;
}

.custom-btn {
  background-color: #01c5cf;
  border: #01c5cf;
  font-weight: bold;
  width: 200px;
}

.p-custom {
  font-size: 30px;
}

.custom-card-center {
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-right: 50px;
  height: 100px;
  width: 150px;
}

.custom-label {
  font-size: 25px;
  font-weight: 500;
}
