<div class="color-background main-container">
  <!--HEADER-->
  <app-header-title>
    <div subTitle class="d-flex justify-content-center text-white mb-3">
      <h2>Venda Débito</h2>
    </div>

    <div fraseHeader class="d-flex justify-content-center text-white">
      <p class="p-custom">Insira o seu cartão de débito</p>
    </div>
  </app-header-title>

  <!--CARD CENTRO-->
  <a class="d-flex justify-content-center" (click)="goTo()">
    <div class="d-flex flex-column align-items-center">
      <div class="p-2 bd-highlight">
        <img src="assets/images/insira-cartao.png" alt="Ilustração" class="img-width pt-4 sm-hidden"/>
      </div>
      <div class="p-2 bd-highlight">
        <p class="text-white">Cancelamento em 60 segudos</p>
      </div>
    </div>
  </a>

  <!--BUTTON FOOTER-->
  <app-button-footer class="box-button">
    <button btnDireita type="button" (click)="back()" class="btn btn-primary btn-lg custom-btn">Cancelar</button>
  </app-button-footer>

  <!--FOOTER-->
  <app-footer></app-footer>
</div>
