a {
  text-decoration: none !important;
}

.color-background {
  background-color: #262626;
}

.custom-btn {
  background-color: #01c5cf;
  border: #01c5cf;
  font-weight: bold;
  width: 200px;
  margin-top: 110px;
}

.p-custom {
  font-size: 30px;
}

.custom-label {
  font-size: 20px;
}

.custom-card-center {
  background-color: #4f81bd;
  border-radius: 10px;
  margin-right: 50px;
}
