.color-background {
  background-color: #262626;
}

.color-btn {
  background-color: #01c5cf;
  border: #01c5cf;
  font-weight: bold;
}

.card-center {
  width: 50%;
  border-radius: 10px;
}

.p-colunm {
  font-weight: bold;
  font-size: 20px;
}
