<div class="color-background main-container">
  <!--HEADER-->
  <app-header-title>
    <div textTitle class="text-white mb-5">
      <h1>Recarga realizada com sucesso!</h1>
    </div>
  </app-header-title>

  <!--CARD CENTRO-->
  <div class="d-flex justify-content-start p-4 w-100">
    <div class="card-center d-flex justify-content-center p-3">
      <p>Valor Carregado - R$ 2,00</p>
    </div>
  </div>

  <div class="p-4 pb-0 text-white">
    <p>Deseja imprimir o recibo ?</p>
  </div>

    <!--BUTTON FOOTER-->
    <app-button-footer>
      <button btnEsquerda type="button" (click)="goTo()" class="btn btn-primary btn-lg custom-btn">SIM</button>
      <button btnDireita type="button" (click)="goTo()" class="btn btn-primary btn-lg custom-btn">NÃO</button>
    </app-button-footer>

  <!--FOOTER-->
  <app-footer></app-footer>
</div>

