<div class="color-background">
  <!--HEADER-->
  <app-header-title>
    <div subTitle class="text-white mb-5">
      <h2>Selecione o tipo de recarga</h2>
    </div>
  </app-header-title>

  <!--CARD CENTRO-->
  <div class="card-center">
    <div class="d-flex flex-column bd-highlight mb-2">
      <div class="p-2 bd-highlight">
        <a routerLink="/selecionar-valor-tp-recarga">
          <p class="p-custom">VT - Saldo R$20,00</p>
        </a>
      </div>
    </div>
  </div>

  <div class="card-center">
    <div class="d-flex flex-column bd-highlight mb-2">
      <div class="p-2 bd-highlight">
        <a routerLink="/selecionar-valor-tp-recarga">
          <p class="p-custom">Comum - Saldo R$66,90</p>
        </a>
      </div>
    </div>
  </div>

  <div class="card-center">
    <div class="d-flex flex-column bd-highlight mb-2">
      <div class="p-2 bd-highlight">
        <a routerLink="/selecionar-valor-tp-recarga">
          <p class="p-custom">Escolar - Saldo R$262,51</p>
        </a>
      </div>
    </div>
  </div>

  <!--FOOTER-->
  <app-footer></app-footer>
</div>
