a {
  text-decoration: none !important;
  color: #262626;
}

.color-background {
  background-color: #262626;
}

.card-center {
  border-radius: 10px;
  background-color: white;
}

.p-custom {
  font-size: 20px;
  font-weight: bold;
}
