<div class="color-background main-container d-flex flex-column">
  <!--HEADER-->
  <app-header-title>
    <div subTitle class="text-white mb-5">
      <h2>Selecione o que deseja comprar:</h2>
    </div>
  </app-header-title>

  <!--CARD CENTRO-->
  <a class="d-flex justify-content-center card-center" (click)="goTo()">

    <div class="box-width d-flex bg-white flex-row justify-content-start rounded-4 p-2">
      <div class="d-flex flex-column align-items-center">
          <img src="assets/images/qrCode.png" alt="Ilustração"  class="sm-hidden ilustracao-70" />
          <img src="assets/images/logo.png" alt="Ilustração"  class="sm-hidden ilustracao" />
      </div>
      <div class="d-flex align-items-center justify-content-center m-3 w-100">
        <p class="p-card-center text-dark">Unitário</p>
      </div>

    </div>

  </a>

  <!--BUTTON FOOTER-->
  <app-button-footer class="box-button">
    <button btnEsquerda type="button" (click)="backHome()" class="btn btn-primary btn-lg custom-btn">Cancelar</button>
  </app-button-footer>

  <!--FOOTER-->
  <app-footer></app-footer>
</div>


