a {
  text-decoration: none !important;
}

.color-background {
  background-color: #262626;
}

.custom-btn {
  background-color: #01c5cf;
  border: #01c5cf;
  font-weight: bold;
  width: 200px;
}

.box-width{
   width: 400px;
}

.ilustracao-70{
  width: 70px;
}

.img-width {
  width: 110px;
}

.p-card-center {
  font-weight: bold;
  font-size: 23px;
}

.ilustracao{
  width: 50px;
  height: 50px;
}

.box-button{
  position: fixed;
  bottom: 110px;
}
