<div class="bg-white fixed-bottom">
  <div class="row">
    <div class="col-2 d-flex justify-content-center">
      <img src="assets/images/logo.png" alt="Ilustração" class="img-width sm-hidden" />
    </div>

    <div class="col-2 d-flex align-items-start flex-column justify-content-center">
      <p class="bold m-0">Terminal 12001</p>
      <p class="bold m-0">Versão 001</p>
    </div>

    <div class="col-2 d-flex align-items-center">
      <p class="bold font-20">20/05/2023 08:40</p>
    </div>

    <div class="col-2 d-flex justify-content-center">
      <img src="assets/images/elo-logo.png" alt="Ilustração" class="img-width sm-hidden" />
    </div>

    <div class="col-2 d-flex align-items-center">
      <img src="assets/images/visa-logo.png" alt="Ilustração" class="img-width img-height sm-hidden" />
    </div>

    <div class="col-2 d-flex align-items-center">
      <img src="assets/images/logo-mastercard.png" alt="Ilustração" class="img-width height-img sm-hidden" />
    </div>
  </div>
</div>


