<div class="color-background  main-container">
  <!--HEADER-->
  <app-header-title>
    <div subTitle class="d-flex justify-content-center text-white mb-3">
      <h2>Transação Aprovada</h2>
    </div>

    <div fraseHeader class="d-flex justify-content-center text-white">
      <p class="p-custom">Retire seu cartão</p>
    </div>
  </app-header-title>

  <!--CARD CENTRO-->
  <a  routerLink="/retire-bilhete" class="d-flex justify-content-center">
    <div class="d-flex align-items-center">
      <div class="p-2 bd-highlight">
        <img src="assets/images/retira-cartao.png" alt="Ilustração"  class="img-width pt-4 sm-hidden" />
      </div>
    </div>
  </a>

  <!--FOOTER-->
  <app-footer></app-footer>
</div>



