.color-background {
  background-color: #262626;
}

.color-btn {
  background-color: #01c5cf;
  border: #01c5cf;
  font-weight: bold;
}

.card-center {
  background-color: #ffffff;
  border-radius: 10px;
  width: 20%;
}

.img-width {
  width: 110px;
}

.p-card-center {
  font-weight: bold;
  font-size: 23px;
}
