.color-background {
  background-color: #262626;
}

.custom-btn {
  background-color: #01c5cf;
  border: #01c5cf;
  font-weight: bold;
  width: 320px;
}

.img-width {
  width: 200px;
  height: 200px;
}

.p-custom {
  font-size: 45px;
}
