.color-background {
  background-color: #262626;
}

.custom-btn {
  background-color: #01c5cf;
  border: #01c5cf;
  font-weight: bold;
  width: 200px;
}

.card-center {
  border-radius: 10px;
  background-color: #FFFFFF;

  p {
    font-weight: bold;
  }
}
