<div class="color-background">
  <!--HEADER-->
  <app-header-title>
    <div subTitle class="d-flex justify-content-center text-white mb-3">
      <h2>Venda Débito</h2>
    </div>

    <div fraseHeader class="d-flex justify-content-center text-white">
      <p class="p-custom">Digite sua senha</p>
    </div>
  </app-header-title>

  <!--CARD CENTRO-->
  <div class="d-flex justify-content-center card-center">
    <input type="text" aria-label="Senha" class="form-control">
    <p class="text-white">Cancelamento em 60 segudos</p>
  </div>

  <!--FOOTER-->
  <app-footer></app-footer>
</div>
